
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.maint1, .maint2 {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the element's own size */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text lines */
  font-family: 'Poppins, sans-serif';
}

.maint1 {
  top: calc(50% - 20px); /* Adjust this value based on the actual height of .maint1 */
}

.maint2 {
  top: calc(50% + 20px); /* Adjust this value to position .maint2 below .maint1 */
}

.outer{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
}

.signlog{
  padding-top: 100px;
  font-size: large;
  font-weight: bold;
}
/* Ensure the main content is tall enough to require scrolling */
.main-content {
  min-height: 200vh; /* 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffe4d6;
}

.footer {
  padding: 20px 4px; /* Increase padding */
  min-height: 100px; /* Set a minimum height */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
